# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-nix

# Make this the same as your github username/organisation
REPO_ORGANIZATION="anschmieg"

IMAGE_DESC="Bazzite KDE with a persistent Nix mountpoint"
IMAGE_KEYWORDS="bazzite,kde,nix,bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/ublue-os/bazzite/main/docs/assets/bazzite-logo.png"
DEFAULT_TAG="stable"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
